<!DOCTYPE html>
<html>
    <head>
        <title>Django_Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django_Blog</a></h1>
        </div>

        <div>
            <p>published: 2020/06/16 21:31</p>
            <h2><a href="">My first post</a></h2>
            <p>こんばんは。宜しくお願い致します。</p>
        </div>

        <div>
            <p>published: 2020/06/16 21:33</p>
            <h2><a href="">My second post</a></h2>
            <p>あいうえお</p>
        </div>
    </body>
</html>